.error-boundary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-base-w);
  color: #721c24;
}

.error-boundary h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.error-boundary p {
  font-size: 16px;
}
